*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    a{
      text-decoration: none;
    }
    
    body{
      background-color: #E1D6F6;
      font-family: 'Bebas Neue', cursive;
    }
    
    .container {
      /*border: 7px red solid;*/
      text-align: center;
      width: 300px;
      margin: 60px auto;
    
    }
    
      img {
        width: 100%;
        border-radius: 50%;
        height: 140px;
        width: 140px;
        padding: 4px;
        border: 5px blueviolet solid;
        
      }
    
      h1 {
        font-size: 32px;
        color: black;
        margin-top: 48px;
        margin-bottom: 8px;
      }
    
      p {
        font-size: 18px;
        opacity: 0.8;
        color: blueviolet;
      }
    
      ul {
        list-style: none;
        margin: 48px 0;
      }
    
      ul li a {
        height: 58px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: blueviolet;
        font-size: 14px;
    
        margin-bottom: 10px;
        border-radius: 30px;
    
        transition: background 400ms;
      }
    
      ul li a:hover {
        background-color: #A230ED;
      }
    
      footer {
        font-weight: 500;
        font-size: 12px;
        opacity: 0.7;
        transition: opacity 400ms;
      }
    
      footer:hover {
        opacity: 1;
      }
    
      footer a {
        color: black;
      }